@using ResourceManagement_Fe_App.Data.Transactions;
@using ResourceManagement_Fe_App.Data;

<div class="home-panel-title-row">
    <h3>@Title</h3>
</div>

<Table @ref="table"
    ScrollY="500px"
       TItem="TransactionShort"
       DataSource="@Transactions"
       Total="@TotalItems"
       @bind-PageIndex="PageIndex"
       @bind-PageSize="PageSize"
       OnPageIndexChange="onChangePageIndex">
    <PropertyColumn Property="c=>c.Title" Sortable />
    <PropertyColumn Property="c=>c.Amount" Sortable />
    <PropertyColumn Property="c=>c.TransactionDate" Sortable Format="yyyy-MM-dd"/>
    <ActionColumn>
        <Space>
            <SpaceItem><Button>Delete</Button></SpaceItem>
        </Space>
    </ActionColumn>
</Table>


@code {
    ITable table;

    [Parameter]
    public string Loading { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public int TotalItems { get; set; }
    
    [Parameter]
    public int PageSize { get; set; }

    [Parameter]
    public int PageIndex { get; set; }

    [Parameter]
    public EventCallback<int> OnPageIndexChange { get; set; }

    [Parameter]
    public IEnumerable<TransactionShort> Transactions { get; set; }

    private async Task onChangePageIndex(PaginationEventArgs arg)
    {
        await OnPageIndexChange.InvokeAsync(arg.Page);
    }

}
