@using ResourceManagement_Fe_App.Data.Transactions;
@inject TransactionApiClient apiClient;
@using System.Collections.Generic;
<h3>Modifica Categorie Secondarie</h3>
@if(isLoading){
    <SpinnerPanel Height="500px" />
}
else{
    <Table DataSource="secondaryCategories"
           TItem="SecondaryCategory"
           RowClassName="@(_=>"editable-row")"
           Bordered
           ScrollY="500">
        <ChildContent Context="data">
            <Column TData="string" Title="Nome">
                @if (!editCache[data.Id].edit)
                {
                    @data.Name
                }
                else
                {
                    <Input @bind-Value="editCache[data.Id].data.Name" />
                }
            </Column>
            <ActionColumn Title="Azioni" Width="200" Align="ColumnAlign.Right">
                @if (!editCache[data.Id].edit)
                {
                    <Button OnClick="() => startEdit(data.Id)">Modifica</Button>
                }
                else
                {
                    <Button OnClick="() => saveEdit(data.Id)" class="save">Applica</Button>
                }

            </ActionColumn>
        </ChildContent>
    </Table>

    <Button Type="@ButtonType.Primary" OnClick="async () => await apiClient.UpdateSecondaryCategoriesAsync(this.secondaryCategories)">Salva</Button>
}

@code {
    List<SecondaryCategory> secondaryCategories = new List<SecondaryCategory>();
    private bool isLoading = false;
    private async Task UpdateCategories()
    {
        isLoading = true;
        StateHasChanged();
        var result = await apiClient.GetSecondaryCategoriesAsync();
        this.secondaryCategories = result.ToList();
        secondaryCategories.ForEach(item =>
        {
            editCache[item.Id] = (false, item);
        });
        isLoading = false;
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await UpdateCategories();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    IDictionary<int, (bool edit, SecondaryCategory data)> editCache = new Dictionary<int, (bool edit, SecondaryCategory data)>();

    void startEdit(int id)
    {
        var data = editCache[id];
        editCache[id] = (true, data.data with { }); // add a copy in cache
    }

    void cancelEdit(int id)
    {
        var data = secondaryCategories.FirstOrDefault(item => item.Id == id);
        editCache[id] = (false, data); // recovery
    }

    void saveEdit(int id)
    {
        var index = secondaryCategories.FindIndex(item => item.Id == id);
        secondaryCategories[index] = editCache[id].data; // apply the copy to data source
        editCache[id] = (false, secondaryCategories[index]); // don't affect rows in editing
    }
}
