@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject IAuthenticationHelperWriter authHelper;
<AuthenticatedContent>
    <Authenticated>
        <Layout Class="full-layout">
            <Header Style="position: fixed; z-index: 1; width: 100%; ">
                <div class="logo" />
                <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Horizontal" DefaultSelectedKeys=@(new[]{"2"})>
                    <MenuItem Key="1" RouterLink="/">Transactions</MenuItem>
                    <MenuItem Key="2" RouterLink="/counter">Manage</MenuItem>
                    <MenuItem Key="3" RouterLink="/fetchdata">Data Analysis</MenuItem>
                    <MenuItem OnClick="Logout" Style="right: 0; position: absolute;">
                        Logout
                    </MenuItem>
                    
                </Menu>
            </Header>
            <Content Class="site-layout" Style="padding:0 50px; margin-top: 64px; ">
                <div class="site-layout-background" style="padding: 24px; min-height: 380px ">
                    @Body
                </div>
            </Content>
            <Footer Style="text-align: center;"></Footer>
        </Layout>
    </Authenticated>
    <NotAuthenticated>
        <UserComponent OnLoginSucces="() => navigateTo()"></UserComponent>
    </NotAuthenticated>
</AuthenticatedContent>

@code{

    async Task Logout()
    {
        await authHelper.Logout();
        navigateTo();
    }

    void navigateTo()
    {
        this.NavManager.NavigateTo("/");
        StateHasChanged();
        NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
    }
}

<style>
    #components-layout-demo-fixed .logo {
        width: 120px;
        height: 31px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px 24px 16px 0;
        float: left;
    }

    .site-layout .site-layout-background {
        background: #fff;
    }
</style>

